<h1>Book deta</h1>
<div>
  <p>Title：<%= @book.title %></p>
  <p>Optinion：<%= @book.body %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>